.mydiv{
    background-color: yellowgreen;
    text-align:center;
}

label > input {
    display:none; /* アップロードボタンのスタイルを無効にする */
    }
label {
    color: #b13774; /* ラベルテキストの色を指定する */
    padding: 10px; /* ラベルとテキスト間の余白を指定する */
    border: double 2px #AAAAAA;/* ラベルのボーダーを指定する */
}

table.gridtable {
    margin-top: 30px;
    text-align: center;
    font-family: verdana,arial,sans-serif;
    font-size:15px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    }
    table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    }
    table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffd3d352;
    }
    table.gridtable th.ed_name {
        font-weight: bold;
        background-color: #ffe493;
    }
    table.gridtable th.info_now {
        font-weight: bold;
        background-color: #ffe493;
    }
    table.gridtable th.info_now_td {
        font-weight: bold;
        background-color: #ffd3d352;
    }
    table.gridtable td.info_td {
        font-weight: bold;
        background-color: #ffe493;
    }
    table.gridtable td.user_td {
        font-weight: bold;
        background-color: #ffe493;
    }
    table.gridtable td.ed_operation {
        font-weight: bold;
        background-color: #ffe493;
    }