<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/confirm.js"%}" type="text/javascript" language="JavaScript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">
    <title>Runoob</title>
</head>
<body>
    <h2 style="text-align: center; margin-top: 30px;">This change_edition Page</a></h2>
    <div style="text-align:center; font-size: 20px; margin-top: 30px;">
        {% for i in ed_info %}
        <p> Dear : {{i.user_id.username}}</p>
        {% endfor %}
    </div>
    <center>
    <table class="gridtable">
        <tr>
            <th class="info_now">現在专辑名</th>
            {% for i in ed_info %}
            <th class="info_now_td">{{i.Edname}}</th>
            {% endfor %}
        </tr>
        <tr>
            <td class="info_td">現在专辑简介</td>
            {% for i in ed_info %}
            <td>{{i.Edinfo}}</td>
            {% endfor %}
        </tr>
    </table>
    <form action="/change_edition/" method="POST">
    {% csrf_token %}
    <table class="gridtable">    
        <tr>
            <th class="info_now">修改专辑名</th>
            <th class="info_now_td"><input type="text" name="edition_name"></th>
        </tr>
        <tr>
            <th class="info_now">修改简介</th>
            <th class="info_now_td"><input type="text" name="edition_info"></th>
        </tr>
    </table>
    {% for i in ed_info %}
    <input type="hidden" name="edition_id" value="{{i.id}}">
    {% endfor %}
    <button type="submit" class="btn btn-primary" style="margin-top: 30px;" onclick="return changeJob();">Change</button></td>
    </form>
    </center>
</body>
</html>