<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/test.css">
        <title>Runoob</title>
    </head>
<body>
    <h2 style="text-align: center; margin-top: 40px;">If you are also a Jay fan, pls register your fan's account</a></h2>
    <form action="/register/" method="post">
    {% csrf_token %}
    <div style="text-align:center; font-size: 15px; margin-top: 40px;">
        <p style="margin-block :auto">Please enter the new email account</p>
        <input type="email" name="email">
        <p style="color: red;">{{email_error}}</p>
        <p style="margin-block :auto">Please enter your password</p>
        <input type="password" name="password"> 
        <p style="color: red;">{{password_error}}</p>
        <p style="margin-block :auto">Please enter your account name</p>
        <input type="text" name="name">
        <p style="color: red;">{{name_error}}</p>
        <p style="margin-block :auto">Please select your gender</p>
        <div class="col-sm-2" style="margin: 0 auto;">
        <select  class="form-control" name="gender">
            <option value="1">male</option>
            <option value="2">female</option>
        </select>
        </div>
        <p style="color: red;">{{gender_error}}</p>
        <p style="margin-block :auto">Please enter your birthday (Ex:19790101)</p>
        <input type="text" name="birthday">
        <p style="color: red;">{{birthday_error}}</p>
        <p style="margin-block :auto">Please upload your picture</p>
        <label for="file_upload">
            Please select your picture
            <input type="file" id="file_upload">
        </label>
        <p style="color: red;">{{image_error}}</p>
        <p><button type="submit" class="btn btn-primary">REGISTER</button></p>
        <p><input type="button" class="btn btn-primary" value="HomePage" onclick="location.href = 'http://127.0.0.1:8000/home/'"></p>
    </div>
    </form>
</body>
</html>